@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

// mainColor=#5aaa00
mainColor=#458100
lighter=#444444
bg=#ebffea

html, body
  margin 0
  padding 0

body
  color #333333
  font 1.1em 'Open Sans', Helvetica, Arial, sans-serif

  h1, h2
    color mainColor
    font-size 2em

  h3
    color mainColor
    font-weight normal

  a
    color lighter
    text-decoration none

    &:hover
      text-decoration underline

#header
  padding 15px
  border-bottom 20px solid mainColor + 12%

  div
    margin 0 auto
    width 1000px

  p
    float right
    margin-right 25px
    color lighter
    text-align right

    span
      display block
      font-weight bold

#first
  margin 0 auto
  padding 0 20px
  width 1000px

  form
    float right
    margin-left 20px
    padding 20px 30px 30px
    width (@width / 3)
    background-color bg

    label
      display block
      margin 10px 0
      color #555555

    input
      margin 5px 0
      padding 5px
      width calc(100% - 20px)

      &[type="submit"]
        margin-top 20px
        padding 10px
        width 100%
        color lighter

    h3
      position relative
      left -10px

    p
      font-size 0.7em

  h1
    margin 50px 0

  #checkmarks li
    margin 30px
    list-style-image url('/images/check.png')

  #dealers
    text-align center

    img
      padding 15px
      height 65px

#second
  margin 80px auto
  padding 0 20px
  width 1000px

  ul
    display block
    width 800px

    li
      margin 5px
      list-style-type circle

  iframe
    display block
    margin 150px auto

#third
  margin 70px 0 100px
  padding 30px 0 50px
  background-color bg

  div
    margin 0 auto
    width 800px

#fourth
  margin 0 auto
  width 800px

  blockquote
    margin 0
    margin 30px
    padding 15px
    // box-shadow 0 0 15px rgba(0, 0, 0, 0.3)
    // border-radius 5px'

    p
      margin 0 0 30px
      padding 0

    footer
      margin-right 10px
      color rgba(0, 0, 0, 0.3)
      text-align right

    &:nth-child(2)
      position relative
      left 20px

    &:nth-child(3)
      position relative
      left -20px

    &:nth-child(4)
      position relative
      left 40px

#footer
  padding-left 60px
  background-color #141414
  color #bbbbbb

  p
    display inline-block
    margin 50px 40px
    vertical-align top

    a
      color #888888
      text-decoration none

      &:hover
        color #aaaaaa
